body{    
    margin:0;
    padding:0;
    font-size:16px;
}
$bgwhite:#fff;
$textwhite:#fff;
$textgray:#394b50;
$bgorange:#ffbb42;
$bgblue:#709dca;
.header{
    display:flex;   
    position:relative;
    width:100%;
    height:93px;
    background-color:$bgwhite;
}

 .logo{    
     flex-grow: 2;
    padding-left:15.58823%;    
    width:11.7647%;
    height:93px;
 }

 .menu{
    flex-grow: 7;
    position:relative;
    font-family: 'Open Sans';
    text-transform: uppercase;
    text-align: center;
    right:5%;
    top:39%;
    &-ul{
        margin: 0;
        padding: 0;
        top:30px;
        right:12.05882%;
    }
    &-ul>li{
        display: inline;
        color: #868686;
        padding: 8px ;
        margin: 6px;
    }
    &-ul>li:hover{
        background-color: $bgorange;
        border-radius: 2px;
    }
    a{
        color: #868686;
        font-size: 0.84375em;
        text-decoration:none;
    }
 }

.banner{
    position:relative;
    width:100%;
    height:590px;
    float:left;
    background-color:#709dca;
    &-text{
        position:relative;
        top:10%;
        left:12.208%;
        width:78%;
        margin-bottom:20px;
        color:$textwhite;  
        font-family: 'Open Sans';
        &-1{
            position:relative;
            font-weight: bold;
            text-transform: uppercase;
            left:23%;
            padding:0px;   
            font-size:2.1875em;
        }
        &-2{
            position:relative;
            left:23.2%;    
            color:$textwhite;
            font-size:1em;
            margin-top: -35px;            
        }
    }
}

 .form{
    position:relative;
    display:flex;
    justify-content: space-around;
    top:10%;
    left:12.208%;
    width:78%;
    &-input{
        position:relative;
        width:21%;
        background-color:$bgwhite; 
        &__icon{
            position:relative;
            top:3px;
            padding:6px;
        }
        &__text{
            position:relative;            
            top:-5px;
            left:0;
            width:80%;
            border:none;
        }
    }
    &-button{
        background-color: $bgwhite;
        position:relative;
        width:18%;
        height:35px;    
        margin-left: 29px;
        &__request{
            background-color:$bgwhite;
            border:none;
            height:35px;
            width:100%;   
            text-transform: uppercase;
            color:#6e6e6e;
            font-family:'Open Sans';
            font-size:1em;            
        }
        &__request:hover{
            background-color: $bgorange;
            color:$textwhite;
        }
    }
 }  

.laptop{
    position:relative;
    width:78%;
    left:12.208%;
    top:22%;
    &-img{
        position:relative;
        left:18%;
    }
}

.service{
    &-text{
        position:relative;
        top:130px;
        left:12.208%;
        width:78%;
        margin-bottom:20px;
        color:$textgray; 
        font-family: 'Open Sans';
        &-1{
            position:relative;
            font-weight: bold;
            text-transform: uppercase;
            left:30.5%;
            padding:0px;   
            font-size:2.1875em;
        }
        &-2{
            position:relative;
            left: 30.5%;
            top:-75px;
            font-size:1em;
            margin-top: 75px;
        }    
    }
    &-blocks{
        display:flex;
        align-content: space-between;
        position:relative;
        background-color:$bgwhite;
        width:80%;
        left:10%;
        height:auto;
        top:100px;
    }
    &-block{
        position:relative;
        width:50%;
        height:152.6;
        &__icon{
            position:relative;
            float:left;
            width:20%;
            &-1,&-2,&-3,&-4,&-5,&-6{
                width:50%;
                height:auto;
                padding:20px;
                padding-bottom: 40px;
            }
            &-6{
                width:40%;
            }
            &-3{
                width:60%;
            }
        }
        &-text{
            color:#4e5d61;
            &__head{
                font-family: 'Lato';
                font-weight: bold;
                text-transform: uppercase;
            }
            &__text{
                font-family: 'Open Sans';                
            }
        }
    }
}
@font-face {
            font-family: "Open Sans";     
            src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype"); 
            font-style: normal; 
            font-weight: normal; 
           }
@font-face {
            font-family: "Open Sans";     
            src: url("/assets/fonts/OpenSans-Bold.ttf") format("truetype"); 
            font-style: normal; 
            font-weight: bold; 
           }
@font-face {
            font-family: "Lato";     
            src: url("/assets/fonts/Lato-Bold.ttf") format("truetype"); 
            font-style: normal; 
            font-weight: bold; 
           }
@media screen and (max-width:1100px){
    
}
@media screen and (max-width:900px){
    
}
@media screen and (max-width:500px){
    
}